Source: v4lsink
Section: unknown
Priority: extra
Maintainer: vasaka <vasaka@sewersmobile2.nature>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: <insert the upstream URL, if relevant>

Package: v4lsink
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
